<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <title>BlackJack</title>
    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="../css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="../css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>

</head>


  <body>

  <!---------------------------------------- UNIRSE --------------------------------------- -->
  <div class="container" id="ocultar">
      <div class="row" style="border-bottom: 2px solid rgba(0,0,0,0.2);">
        <div class="col s3 offset-s1  ">
          <h5>IP</h5>
        </div>
        <div class="col s2">
          <h5>Sala</h5>
        </div>
        <div class="col s3">
          <h5>Espacios</h5>
        </div>
        <div class="col">
          <h5>Tiempo</h5>
        </div>                   
      </div>

      <div class="row" id="rooms">

      </div>

      <div class="row" id="ocultar2">
        <a class="btn-floating btn-large waves-effect waves-light red right"><i class="material-icons">play_arrow</i></a>
      </div>
    </div>

    <script type="text/template" id="room-template"> 
      <div class="row">
          <div class="col">
                  <input name="rooms" type="radio" value="<%= ip %>" id="<%= ip %>" data-roomName="<%= roomName %>"  data-espacios="<%= espacios %>" data-tiempo="<%= tiempo %>"/>
                  <label for="<%= ip %>"></label> 
              </div>
              <div class="col s3">
                  <h5><%= ip %></h5>
              </div>
              <div class="col s2" style="margin-left:10px;">
                  <h5><%= roomName %></h5>
              </div>
              <div class="col s3">
                  <h5 id=<%= roomName %>e><%= espacios %></h5>
              </div>
              <div class="col">
                  <h5 id=<%= roomName %>t><%= tiempo %></h5>
            </div> 
        </div>
    </script>
  <!---------------------------------------- JUGAR CLIENTE --------------------------------------- -->
    <div class="container img_juego hide" id="imagen_oculta">
      <div class="servidor" id="5">

      </div>
      <div class="jug1" id="1">

      </div>
      <div class="jug2" id="2">

      </div>
      <div class="jug3" id="3">

      </div>
      <div class="jug4" id="4">

      </div>
    </div>
    
  <!--  Scripts-->
   <script src="../js/vendor/jquery-2.1.1.min.js"></script>
  <script src="../js/vendor/underscore.min.js"></script>
  <script src="../js/vendor/materialize.js"></script>
  <script src="../js/network.js"></script>
  <script src="../js/jugarCliente.js"></script>
     
  </body>
</html>
